* {
  font-family: "Roboto", sans-serif;
}

.Body{
	margin-top: 100px;
	margin-left: 100px;
	position: relative;
}

.Hr{
	position: absolute;
	top: 13px;
	left: 300px;
	width: 80%;
}

.Body h1{
	text-transform: uppercase;
	letter-spacing: .20em;
	font-weight: bold;
}

.Body p{
	margin: 50px 0;
	letter-spacing: .10em;
	padding: 0 200px;
	line-height: 160%;
	text-align: justify;
	font-size: 20px;
}
