* {
  font-family: "Roboto", sans-serif;
}



.playing {
  position: relative;
  top: 50px;
}

.card {
  transition: transform 0.5s;
  margin: 20px;
  border-radius: 10px;
  color: #000000;
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px 10px;
}

.rating {
  background: rgb(226, 226, 226);
  border-radius: 50%;
  color: black;
  padding: 5px;
}

.card:hover {
  transform: translateY(-10px);
}


.page-btn {
  border-radius: 50%;
  position: relative;
  left: 45%;
  /* padding: -20px; */
}
