.category {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 80px;
}

.sub-categories {
  display: flex;
  justify-content: left;
  align-items: center;
}

.sub-categories p {
  padding: 5px 25px;
  /* border: 1px solid black; */
  border-radius: 40%;
  margin-right: 5px;
}

.sub-categories p:hover {
  background: #eb507f;
  cursor: pointer;
}

.sub-categories .active {
  background: #eb507f;
}

.movie-info {
  padding-bottom: 50px;
}

.movie-info p {
  margin-bottom: -15px;
}

.synopsis {
  border-top: 2px solid #cdcdcd;
  border-bottom: 2px solid #cdcdcd;
  padding: 50px 0;
  position: relative;
  top: -40px;
  z-index: -1;
}

.list-info {
  position: relative;
  top: -90px;
}

.list-info h1 {
  /* border: 1px solid black; */
  background-color: #ffffff;
  max-width: 20vw;
}

.synopsis-title {
  /* border: 1px solid black; */
  background-color: #ffffff;
  max-width: 20vw;
}
