.category {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 80px;
  background-color: black;
  color: white;
  /* border: 1px solid white; */
}

.subcategories {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}

.subcategories p {
  background-color: rgba(219, 0, 0, 0.7);
  border-radius: 10px;
  padding: 5px 25px;
  margin-right: 5px;
  color: white;
  text-decoration: none;
}

.subcategories p:hover {
  background: #ffffff;
  cursor: pointer;
  color: black;
}

.subcategories .active {
  background: #ffffff;
  color: black;
}
