footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  color: #ffffff;
  background-color: #000000;
  /* border: 3px solid #ffffff; */
}

.coltwo {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
}


.coltwo p {
 	margin: 5px 10px;
	letter-spacing: 0.1em;
	font-size: 20px;
}

.Copy {
	letter-spacing: 0.1em;
	font-size: 20px;
}

/* footer .row {
  display: flex;
  border-bottom: 3px solid #d4d4d4;
} */

/* .colone {
  border: 1px solid #ffffff;
  padding: 0 20px;
} */

/* .colone .name {
  display: flex;
  justify-content: left;
  align-items: center;
} */

/* .name img {
  height: auto;
  max-width: 60px;
} */

/* .coltwo p {
  font-size: large;
} */

/* .colthree {
  padding: 0 20px;
  border: 1px solid #ffffff;
} */

/* .colthree .store img {
  height: auto;
  max-width: 150px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  left: -10px;
} */

/* .colthree .store {
  display: flex;
  justify-content: left;
  align-items: center;
} */

/* .colthree .media img {
  height: auto;
  max-width: 40px;
  margin-right: 10px;
} */

/* .colthree .media .face {
  height: auto;
  max-width: 35px;
} */

/* .colthree .media {
  display: flex;
  justify-content: left;
  align-items: center;
} */
